textarea {
  resize: none;
}

.adjuntar > input {
  display: none;
}

.adjuntar img {
  cursor: pointer;
}

#nombreFichero {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 380px;
  margin-left: 10px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

